<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Register</title>

  <!-- Custom fonts for this template-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/src/assets/sb-admin-2.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">


  <app-public-navbar></app-public-navbar>
  <div class="container mt-4">
    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-5 d-none d-lg-block bg-register-image">
              </div>
              <div class="col-lg-7">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                  </div>
                  <form class="user" [formGroup]="myForm" (ngSubmit)="register()">
                    <div class="form-group row">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="text" class="form-control form-control-user" id="exampleFirstName"
                          placeholder="First Name" formControlName="firstname">
                          <div *ngIf="firstname?.touched && firstname?.invalid">
                            <small *ngIf="firstname?.errors?.required" class="text-danger" >firstname is required</small>
                            <small  *ngIf="firstname?.errors?.pattern" class="text-danger">Invalid </small>
                            <small  *ngIf="firstname?.errors?.minlength"class="text-danger">must contain 4</small>
                          </div>
                      </div>
                      <div class="col-sm-6">
                        <input type="text" class="form-control form-control-user" id="exampleLastName"
                          placeholder="Last Name" formControlName="lastname">
                          <div  *ngIf="lastname?.touched && lastname?.invalid">
                            <small *ngIf="lastname?.errors?.required" class="text-danger" >lastname is required</small>
                            <small  *ngIf="lastname?.errors?.pattern" class="text-danger">Invalid lastname</small>
                            <small  *ngIf="lastname?.errors?.minlength"class="text-danger">must contain 4</small>
                          </div>
                        </div>
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user"  formControlName="email" id="exampleInputEmail"
                        placeholder="Email Address">
                        <div *ngIf="email?.touched && email?.invalid">
                          <small *ngIf="email?.errors?.required" class="text-danger" >email is required</small>
                            <small  *ngIf="email?.errors?.email" class="text-danger">Invalid email</small>
                        </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="password" class="form-control form-control-user"  id="exampleInputPassword" 
                          placeholder="Password" formControlName="pasword">
                          <div *ngIf="pasword?.touched && repeatpwd?.invalid">
                            <small *ngIf="pasword?.errors?.required" class="text-danger" >password is required</small>
                          </div>
                      </div>
                      <div class="col-sm-6">
                        <input type="password" class="form-control form-control-user" id="exampleRepeatPassword"
                          placeholder="Repeat Password" formControlName="repeatpwd">
                          <div *ngIf="repeatpwd?.touched && repeatpwd?.invalid">
                            <small *ngIf="repeatpwd?.errors?.required" class="text-danger" >repeatpwd is required</small>
                          </div>
                          <div *ngIf="repeatpwd?.valid && repeatpwd?.value != pasword?.value">
                            <small  class="text-danger" >the password entred not match</small>
                          </div>
                        </div>
                    </div>
                    <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary btn-user btn-block">
                      Register Account
                    </button>
                    <hr>
                    <a href="index.html" class="btn btn-google btn-user btn-block">
                      <i class="fab fa-google fa-fw"></i> Register with Google
                    </a>
                    <a href="index.html" class="btn btn-facebook btn-user btn-block">
                      <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                    </a>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="./forgot-password.html">Forgot Password?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="./login.html">Already have an account? Login!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</body>

</html>